/*
 * Add your CSS styles to this file.
 */
.site-title{
    background-color: #00BBFF;
    color: white;
    line-height: 50px;
    text-indent: 0.5em;
    font-weight:200;
}

.navbar-search{
    position:fixed;
    left:800px;
    bottom:570px;
}

#navbar-search-input{
    border-radius:5px;
}

#navbar-search-button{
    border-width: 0;
    background-color: white;
}

.navitem{
    margin-right:10px;
}

li{
    display:inline;
}

.active{
    text-decoration:underline;
    color:#00BBFF;
}

input{
    background-color:#F5F5F5;
}

input:focus{
    background-color:white;
}

button:hover{

    color:#00BBFF;
}

#navbar-search-button,
#create-twit-button
{
    cursor:pointer;
}

body{
    background-color: #F5F5F5;
 }

header{
    background-color: white;;
}

.twit-container{
    display:flex;
    flex-wrap:wrap;
 }

 
.twit{
    background-color: white;
    display: inline-block;
    width: 300px;
    height:150px;
    border:3px solid #F5F5F5;
    flex-basis: 30%;
    
}
 
p{
    font-size:15px;
}

div.twit-content{
    font-family: Roboto,Helvetica,sans-serif;
    padding:40px;
    padding-right:20px;
    margin-top:-60px;
}

p.twit-author{

     width:200px;
     height:20px;
     font-size:15px;
     font-weight:bold;
     position:relative;
     left:0px;
     text-align: right;

}

.twit-icon{
     font-size: 20px;
     position:relative;
     left:10px;
     top:15px
}

#create-twit-button{
    background-color: red;
    color:white;
    position:fixed;

    font-size: 35px;
    left:1000px;
    bottom:60px;
    padding:10px;
    width:65px;
    height:65px;
    border-radius: 50%;
    box-shadow:10px 10px 20px rgba(0,0,0,0.25);
}

#create-twit-button:hover{
    background-color: #00BBFF;
}

a{
    text-decoration: none;
}
a:link{
    color: black;
}

a:visited{
    color:black;
}

a:hover{
    color:#00BBFF;
}
